### Importacíon de dependencias

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

### Creación del dataframe

In [27]:
train = pd.read_csv("personality_dataset.csv")
train.tail()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

### Limpieza de datos

Se eliminan los valores nulos de las columnas a trabajar

In [ ]:
train.isnull().sum()

Time_spent_Alone             63
Stage_fear                   73
Social_event_attendance      62
Going_outside                66
Drained_after_socializing    52
Friends_circle_size          77
Post_frequency               65
Personality                   0
dtype: int64

In [31]:
train.dropna(subset=["Time_spent_Alone", "Friends_circle_size"], inplace=True)
train.isnull().sum()

Time_spent_Alone              0
Stage_fear                   68
Social_event_attendance      57
Going_outside                62
Drained_after_socializing    49
Friends_circle_size           0
Post_frequency               61
Personality                   0
dtype: int64